.main-text{
    color: red;
}
.homeBg{

    background-image: url('./Assets/gimbal-main.jpg');
    background-color: #cccccc;
    height: auto;
    width: auto;   
}

.fullGimbal{

    background-image: url('./Assets/frank-zhang-9AWoTUcNZAE-unsplash.jpg');
    background-color: #cccccc;
    height: auto;
    width: auto;   
}
.fullLastGimbal{

    background-image: url('./Assets/black-camera-with-gimbal.jpg');
    background-color: #cccccc;
    height: auto;
    width: auto;   
}

.purchaseBg{

    background-image: url('./Assets/black-camera-with-gimbal.jpg');
    background-color: #cccccc;
    height: auto;
    width: auto; 
    z-index: -1;
    opacity: 0.5;
}


.btnSecondary{
   background-color:  #fa6401;
}
.btnAccent{
    background-color:#08fdd8 ;
}
.textArea{
   color: gainsboro;
}

.transform:hover img{
    transition: all 3s ease-in-out;
    transform: scale(1.6);
    border-radius: 10px;
}